
    <div *ngIf="toggleDetail">
        <div>You chose</div>
        <ul class="results">
            <li>
                <span class="badge">{{player.id}}</span> {{player.name}}
            </li>
            <li>
                <span class="badge">{{object.id}}</span> {{object.name}}
            </li>
        </ul>
        <button (click)="go(player.id,object.id)" class="button">
            <img style="width: 30px" src='http://www.clker.com/cliparts/5/M/t/6/k/p/circular-recycle-arrows-th.png' alt='Circular Recycle Arrows clip art' />
            <div>1 2 3 Go!</div>
        </button>



    <div style="" class="result" *ngIf="results">

        <div>Sheldon threw {{results.sheldon}}</div>
        <div>{{results.player}} threw {{results.choice}}!</div>
        <div *ngIf="results.result_id < 2">{{results.player}} {{results.result}}</div>
        <div *ngIf="results.result_id > 1">{{results.result}}</div>
    </div>

    </div>

