<div *ngIf="player" style="display: inline-block; width: 20%; vertical-align: top;">
<div>Pick an object</div>
<ul class="objects">
    <li *ngFor="#object of objects"
        (click)="selectObject(object,player)"
        [class.selected]="object === selectedObject">
        <span class="badge">{{object.id}}</span> {{object.name}}
    </li>
</ul>
</div>
<div *ngIf="player" style="display: inline-block; width: 20%; vertical-align: top;">
    <object-detail style="width:100%" [(object)]="selectedObject" [(player)]="selectedPlayer"></object-detail>
</div>
