.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.results {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 10em;
}

.results li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0em;
    height: 1.6em;
    border-radius: 4px;
}

.results li.selected:hover {
    color: white;
}

.results li:hover {
    color: #607D8B;
    background-color: #EEE;
    left: .1em;
}

.results .text {
    position: relative;
    top: -3px;
}

.results .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0em 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0px 0px 4px;
}

.button {
    width:10em:
    height:1.6em;
    font-size: 16px;
    margin-left:.5em;
    background-color: #EEE;
    border-radius: 10px;
    font-family: "source_sans", "Lucida Grande", "Lucida Sans", sans-serif;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-right: 1em;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    line-height:1em;

}

button img{
    padding-top: .5em;
}

.button div {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1em;
}

.result{
    margin-top:2em;
    width:10em;
    height:4em;
    background-color: #0b97c4;
    color: #FFF;
    border: solid 1px black ;
    border-radius: 4px 0px 0px 4px;
    padding:6px;
}

.lefty{
    display: inline-block; width: 20%; vertical-align: top;
}

body{
    min-width:875px;
}